<style>
  .header-color {
    background: #00bbf0;
  }
  .main-bg-color {
    background: #00204a;
  }
  .txt-color {
    background: #fdb44b;
  }
</style>

<div
  class="jumbotron jumbotron-fluid header-color text-white text-center w-100"
>
  <h1>Book Management System</h1>
</div>
<div class="d-flex justify-content-center">
  <div class="col-lg-6 col-md-8 col-sm-8">
    <div class="card shadow main-bg-color">
      <div class="card-header txt-color">
        {{ editBookIndex !== null ? "Edit Book" : "Add New Book" }}
      </div>

      <div class="card-body">
        <div class="mb-4">
          <input
            class="form-control"
            [(ngModel)]="newBookTitle"
            type="text"
            placeholder="Book Title"
          />
        </div>
        <div class="mb-4">
          <input
            class="form-control"
            [(ngModel)]="newBookAuthor"
            type="text"
            placeholder="Book Author"
          />
        </div>
        <div class="mb-4">
          <button
            class="btn txt-color"
            (click)="editBookIndex !== null ? updateBook() : addBook()"
          >
            {{ editBookIndex !== null ? "Update Book" : "Add Book" }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="book-list">
  <h2 class="text-center mt-5 header-color text-white">Books</h2>
  <table class="table table-striped">
    <thead class="table txt-color">
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books; index as i">
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>
          <button class="btn btn-success" (click)="editBook(i)">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-pencil-square"
              viewBox="0 0 16 16"
            >
              <path
                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
              />
              <path
                fill-rule="evenodd"
                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"
              />
            </svg>
          </button>
          &nbsp; &nbsp;
          <button class="btn btn-danger" (click)="deleteBook(i)">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-trash-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"
              />
            </svg>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
